@model List<Product>
@{
    ViewData["Title"] = "Index";
}

<h1>Cafe Products</h1>

@foreach (Product prod in Model)
            {
<div>
    <a href="/coffeecafe/product?prod=@prod.id"> @prod.name </a>
</div>
            }